body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color:#18B4CF;
}

h4 {
    font-size: 18px;
    line-height: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;   
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
    background-color: #313131;
    padding: 28px 0 26px 0;
}

.header__logo {
    display: flex;
    width: 27px;    
    height: 27px;
}

.headr__logo-text {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 1px;
}

.header__img {
    padding: 0 27px;
} 

.header__menu-list {
    display: flex;
    justify-content: center;
    margin-left: 17px;
} 

.header__list-item {
    margin-left: 35px;
}

.header__list-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__list-link:hover {
color: #14B9D5;
}

.header__search__button {
    display: block;
    margin-bottom: -25px;
    width: 68px;
    height: 70px;
    background-color: #000000;
    color: white; 
}

.fa-search {
    background-image: url(../images/fa-search\ \(&#xf002;\)\ 1.svg);
}


.header {
    background-image: url(../images/section-backgraund.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
}   

.header__background-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 44px;
}


.header__footer {
    display: flex;
    flex-direction: column; margin-top: 15%;
}   

.header__container-buttons {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 170px; 
    height: 55px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;    
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}  

.header__btn-green {
    background-color: #89CA62;
    margin-right: 20px;
}

.header__btn-blue {
    background-color: #14B9D5;
}

.figure {  
    background-color: #F2F2F2;;
    padding-bottom: 72px;
}

.figure__title {
    display: flex;
    justify-content: center;
    padding: 52px 0;
    color: #18B4CF;
}   

.figure__block {
    display: flex;
    flex-wrap: wrap;
}

.figure__news {
    margin: 0 20px 30px 0;
}


.figure__news-img {
    width: 100%;
}   

.figure__news-text {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color: #353A3D;
    background-color: #FFFFFF;
}




.section__companys {
    background-image: url(../images/section-backgraund.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.section__background-title {
    display: grid;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 87px;
    color: #FFFFFF;
}

.section__background-line {
    width: 60px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: solid  #18B4CF;    
}

.section__background-block {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 100px);
}

.section__background-box {
    margin-top: 100px;
    justify-self: center;
}

.section__title-img {
    text-align: center;
    padding: 52px 0 49px 0;
}

.section__block-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.main__sybtitle {
    padding: 48px 0 51px 0 ;
    text-align: center;
}

.title {
    text-align: center;
}
.main__inner-news {
    display: grid;
    grid-template-columns:repeat(4, 1fr); 
    gap: 1em;
    width: 1170px;
}

.maine__inner-text {
    background-color:  #F9F7F7;
}

.maine__inner-text {
    text-align: end;
}


.figure1 {
    grid-column: 1 / 4;
    display: flex;
}

.figure3 {
    grid-column: 1 / 3;
    
}

.figure4 {
    grid-column: 3 / 5;
    
}


.figure5 {
    grid-column: 1 / 3;
    
}

.figure6 {
    grid-column: 3 / 5;
    
    }

.figure8 {
    grid-column: 2 / 5;
    display: flex;
}


.main__img {
    width: 576px;
}
.main__news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 0;
    background-color:  #F9F7F7;
}

.main__news-subtitle {
    padding: 14px 14px 3px 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.footer {
    margin-top: 75px;
    height: 80px;
    background-color: #000000;
}

.footer__item {
    padding-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
    justify-content:space-between ;
} 

.footer__text {
    position: relative;
    right: 81px;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
